.battle {
    position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	image-rendering: pixelated;
	overflow: hidden;
    img {
        pointer-events: none;
    }
    .battle-background {
		img {
			width: 100%;
			height: 100%;
            object-fit: contain;
		}
	}
    .battle-player,
	.battle-enemy {
		position: absolute;
		width: 240px;
		height: 360px;
		img {
			height: 100%;
			object-fit: contain;
		}
	}
    .battle-player {
		left: 32px;
		bottom: 0;
    }
    .battle-enemy {
		right: 0;
		bottom: 120px;
    }
}